.block3 {
    padding-bottom: 2px;
    position: relative;
    background-color: #f8f9fb;

    &__imgSlide {
        max-width: 100%;
    }

    &__plate {

        width: 425px;
        height: 116px;
        background-color: white;
        margin-left: 600px;
        padding: 0 34px;
    }

    &__desc {
        color: #575c5f;
        font-family: 'Myriad Pro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    @media screen and (max-width: 991px) {
        .block3 {
            padding-bottom: 40px;
        }

        .block3__plate {
            width: 100%;
            margin-left: 0;
            height: 75px;
        }
    }

    @media screen and (max-width: 575px) {

        .block3__container {
            justify-content: center;
        }

        .block3__plate {
            height: 76px;
            bottom: 40px;
            padding: 5px;
        }



        .block3__slider {
            padding: 5px;
        }


    }
}


.block3__gallery>.slider__dots {
    top: 538px;
    left: 0;
    margin-left: 600px;
    width: 425px;
    height: 70px;
    background-color: #f8f9fb;
    padding: 23px;
    padding-left: 70px;
}

.slider1-next.slick-arrow {
    top: 78%;
    left: 84%;
    font-size: 19px;
    position: absolute;
    z-index: 555;
    color: #DBDDDF;

    &:after {
        content: '';
        width: 1px;
        height: 30px;
        background-color: #575c5f;
        display: block;
        right: 30px;
        opacity: 0.2;
        position: absolute;
        bottom: -5px;
    }

    &:hover,
    &:focus {
        color: #717678;
    }
}

.slider1-prev.slick-arrow {
    top: 78%;
    left: 80%;
    font-size: 19px;
    position: absolute;
    z-index: 555;
    color: #DBDDDF;

    &:hover,
    &:focus {
        color: #717678;
    }
}


@media screen and (max-width: 991px) {
    .block3 {
        padding-bottom: 40px;
    }

}

@media screen and (max-width: 1199px) {
    .block3__gallery>.slider__dots {
        top: 450px;

    }

    .block3__plate {
        margin-top: -100px;
    }
}


@media screen and (max-width: 991px) {
    .block3__plate {
        margin-top: 0px;
    }
}


@media screen and (max-width: 991px) {
    .slider1-next.slick-arrow {
        top: 50%;
        left: 91%;
        font-size: 80px;

        &:after {
            display: none;
        }

    }

    .slider1-prev.slick-arrow {
        top: 50%;
        left: 0;
        font-size: 80px;

    }

}

@media screen and (max-width: 767px) {
    .slider1-next.slick-arrow {
        top: 50%;
        left: 93%;
        font-size: 50px;

        &:after {
            display: none;
        }

    }

    .slider1-prev.slick-arrow {
        top: 50%;
        left: 0;
        font-size: 50px;

    }

}