.block6 {
    padding-top: 138px;
    font-family: 'Myriad Pro', sans-serif;
    padding-bottom: 66px;


    &__title {
        color: #575c5f;
        font-family: 'Myriad Pro', sans-serif;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        word-spacing: 7px;
        padding-bottom: 47px;
    }

    &__text {
        color: #575c5f;
        font-family: "Myriad Pro";
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;

        &--right {
            margin-bottom: 28px;
        }

        &--right:last-child {
            margin-bottom: 47px;
        }
    }

    &__plate {
        border-left: 1px solid #b98b36;

        &--left {
            margin-top: 44px;
            padding-left: 39px;
            padding-right: 61px;
            letter-spacing: 0.02em;
        }

        &--right {
            margin-left: 34px;
            padding-left: 33px;
            padding-right: 38px;
            letter-spacing: 0.02em;
        }
    }

    &__img2 {
        margin-left: 34px;
        max-width: 100%;
    }

    &__img {
        max-width: 100%;
    }



    &__title-end {
        color: #575c5f;
        font-size: 24px;
        font-weight: 600;
        position: relative;
        text-align: center;
        line-height: 27px;
        padding-bottom: 65px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 46.5%;
            width: 77px;
            height: 1px;
            background-color: #b98b36;
            top: 75%;

        }
    }

    &__text-end {
        color: #575c5f;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        word-spacing: 0.1em;
        padding-right: 201px;
        padding-left: 210px;
    }

    &__tagline {
        padding-top: 106px;
    }


    @media screen and (max-width: 991px) {

        .block4 {
            padding-top: 25px;
        }

        .block6__plate--right {
            margin-left: 0;
        }

        &__tagline {
            padding-top: 40px;
        }

        &__title-end {
            text-align: left;

        }

        &__text-end {
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }

        &__img2 {
            margin-left: 0;

        }

        &__img {
            margin-left: 0;


        }
    }




}

@media screen and (max-width: 991px) {
    .block6 {
        padding-top: 40px;

    }

    .block6__plate--right {
        padding-right: 0;
        padding-left: 10px;
    }

    .block6__plate--left {
        padding-right: 0;
        padding-left: 10px;
    }
}

@media screen and (max-width: 575px) {


    .block6__text,
    .block6__text-end {
        font-size: 15px;
    }

    .block6__title-end,
    .block6__title {
        font-size: 20px;
        line-height: 30px;
    }

}