.nav {
    &__checkbox--footer {
        display: none;
    }

    &__icon--footer {
        color: transparent;
    }


    &__item:first-child {
        margin-left: 12px;
    }

    &__item {
        margin-right: 42px;

    }

    &__list {
        display: flex;
        align-items: center;

    }

    &__link {
        color: #a29c9b;
        font-family: 'Myriad Pro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    &__link:hover {
        position: relative;

    }

    &__link:hover:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        height: 2px;
        background-color: #b98b36;
        bottom: 0;
        transition: ease 1s;
    }

    &__link:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        height: 2px;
        background-color: white;
        bottom: 0;

    }

    &__link--footer:hover:before {
        content: '';
        display: none;
    }

    &__link--footer:before {
        content: '';
        display: none;

    }


    &__link:hover {
        color: #b98b36;
        transition: ease .3s;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        transition: ease 0.8s;
        position: relative;
    }


    &__icon {
        color: #a29c9b;
        ;
        font-size: 25px;
    }

    &__times {
        color: #a29c9b;
        ;
        font-size: 25px;
        z-index: 2;
        position: relative;

    }


}

@media screen and (max-width: 991px) {
    .nav__list {
        display: none;

    }
}




.header__logo {
    position: relative;
    z-index: 2;

}




.nav__barlist {
    transition: ease .3s;
    background-color: white;
    border: 0.4px solid #262626;
    width: 100%;
    border: none;
    position: absolute;
    height: 100vh;
    ;
    left: 0;
    top: 0;
    z-index: 99;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--active {
        transform: translateY(0%);
        top: 0;
        transition: ease .7s;
    }
}

.nav__baritem {
    margin: 0;




}

.nav__barlink {

    line-height: 86px;
    display: flex;
    justify-content: center;
    color: #A29C9B;
    transition: ease .3s;
    font-size: 25px;

    &:hover {
        color: #B38124;
    }
}


@media screen and (max-width: 991px) {

    .nav__burger {
        position: relative;

    }

}


@media screen and (max-width: 575px) {

    .nav__burger {
        position: absolute;
        right: 42px;
        top: 48px;
    }

    .nav__barlink {
        line-height: 47px;
        font-size: 19px;
    }

}



.nav__burger span {

    width: 25px;
    height: 3px;
    background-color: #BFBFBF;
    display: block;


}

.nav__burger span:nth-child(1) {
    transform: translateY(-6px);
}

.nav__burger span:nth-child(3) {
    transform: translateY(6px);
}

.nav__burger:hover {
    cursor: pointer;
}

.nav__close {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 3rem;
    transition: all 0.2s;
    transform-origin: 50% 53%;
    display: block;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    color: #BFBFBF;

    &:hover {
        color: rgba(185, 139, 54, 0.637);
        transition: all 0.8s;
    }
}

.nav__close:hover {
    transform: rotate(180deg);
}

.nav__burger span {
    &:hover {
        background-color: rgba(185, 139, 54, 0.637);
        transition: all 0.8s;
    }
}