.tel {
    &__icon {
        width: 34px;
        height: 34px;
        background-color: #b98b36;
        box-shadow: 0 6px 21px rgba(185, 139, 54, 0.41);
    }

    &__link {
        height: 16px;
        color: #575c5f;
        font-size: 22px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__text {
        color: #a29c9b;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    &__far {
        color: white;
        font-size: 15px;
    }

    &__schedule {
        margin-left: 20px;
    }

}

@media screen and (max-width: 767px) {
    .tel__link {
        font-size: 20px;
    }
}