.block2 {
  background-color: #f8f9fb;
  padding-top: 184px;
  padding-bottom: 102px; }
  .block2__plate {
    border-bottom: 2px solid #b98b36;
    -webkit-box-shadow: 0 30px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.1); }
  .block2__pl {
    padding-left: 30px;
    padding-right: 45px;
    padding-bottom: 50px;
    min-height: 250px; }
  .block2__subtitle {
    color: #575c5f;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 23px; }
  .block2__text {
    color: #a29c9b;
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
  .block2__title {
    color: #575c5f;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 5px;
    word-spacing: 2px;
    margin-bottom: 87px; }
    .block2__title:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 100px;
      height: 1px;
      opacity: 0.3;
      background-color: #575c5f;
      top: -23px; }
    .block2__title:after {
      content: '';
      display: block;
      position: absolute;
      left: 46.5%;
      width: 60px;
      height: 1px;
      opacity: 0.3;
      background-color: #575c5f;
      bottom: -40px; }
  .block2__img {
    margin-bottom: 20px;
    width: 100%; }

@media screen and (max-width: 991px) {
  .block2 {
    padding-top: 100px; }
  .block2__pl {
    padding-left: 5px;
    padding-right: 5px; }
  .block2__title:before {
    left: 0; } }

@media screen and (max-width: 767px) {
  .block2__pl {
    min-height: 150px; } }

@media screen and (max-width: 575px) {
  .block2 {
    padding-bottom: 50px; }
  .block2__title {
    font-size: 20px; } }
