.block3 {
  position: relative;
  background-color: #f8f9fb; }
  .block3__img {
    width: 100%; }
  .block3__plate {
    width: 425px;
    height: 197px;
    background-color: white;
    -webkit-box-shadow: 0 30px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.1);
    font-family: 'Myriad Pro';
    font-size: 18px;
    font-weight: 400;
    position: relative;
    z-index: 3;
    bottom: 75px;
    margin-right: 20px; }
  .block3__desc {
    color: #575c5f;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 68px;
    padding-right: 10%;
    padding-top: 10%; }
  @media screen and (max-width: 575px) {
    .block3 .block3__container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .block3 .block3__plate {
      height: 120px;
      width: 100%;
      bottom: 40px;
      margin-right: 0; }
    .block3 .block3__desc {
      padding: 5px; }
    .block3 .block3__slider {
      padding: 5px; } }
