.block4 {
  position: relative;
  padding-bottom: 150px; }
  .block4__img {
    max-width: 100%; }
  .block4__title {
    color: #575c5f;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 5px;
    word-spacing: 2px;
    padding-bottom: 57px; }
    .block4__title:before {
      content: '';
      display: block;
      position: absolute;
      left: -32px;
      width: 100px;
      height: 1px;
      opacity: 0.3;
      background-color: #575c5f;
      top: -23px; }
    .block4__title:after {
      content: '';
      display: block;
      position: absolute;
      left: 31.5%;
      width: 60px;
      height: 1px;
      opacity: 0.3;
      background-color: #575c5f;
      top: 66%; }
  .block4__desc {
    padding-left: 67px;
    padding-top: 143px;
    padding-right: 28%; }
  .block4__text {
    color: #575c5f;
    font-family: 'Myriad Pro';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1px;
    word-spacing: -3px; }
  .block4__plate {
    font-family: 'Myriad Pro';
    color: #b98b36;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    width: 425px;
    height: 70px;
    background-color: #f8f9fb;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    bottom: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  @media screen and (max-width: 991px) {
    .block4 .block4__desc {
      padding-left: 20px;
      padding-top: 70px;
      padding-right: 20px; }
    .block4 section.block4 {
      padding-bottom: 0; }
    .block4 .block4__title:after {
      top: 65%; }
    .block4 .block4__plate {
      width: 340px; }
    .block4 .block4__title::before {
      left: 0; }
    .block4 .block4__desc {
      padding-right: 0;
      padding-left: 0; } }
  @media screen and (max-width: 575px) {
    .block4 .block4__plate {
      width: 356px; }
    .block4 .block4__title {
      font-size: 20px; }
    .block4 .block4__text {
      font-size: 16px;
      line-height: 24px; }
    .block4 .block4__desc {
      padding-top: 30px; } }

@media screen and (max-width: 991px) {
  .block4 {
    padding-bottom: 40px; }
  .block4:before {
    display: none; } }

@media screen and (max-width: 767px) {
  .block4__plate {
    width: 100% !important; } }

.block4:before {
  content: '';
  background-color: #F7F8FA;
  height: 62px;
  width: 100%;
  position: absolute; }

.prev {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

.next {
  position: absolute;
  top: 0;
  left: 100%;
  cursor: pointer; }

.slider2-next.slick-arrow {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  font-size: 25px; }
  .slider2-next.slick-arrow:after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #575c5f;
    display: block;
    right: 30px;
    opacity: 0.2;
    position: absolute;
    bottom: -5px;
    cursor: none; }
  .slider2-next.slick-arrow:hover, .slider2-next.slick-arrow:focus {
    color: #717678; }

.slider2-prev.slick-arrow {
  font-size: 25px;
  z-index: 555;
  color: #DBDDDF;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end; }
  .slider2-prev.slick-arrow:hover, .slider2-prev.slick-arrow:focus {
    color: #717678; }

.slid4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.block4__gallery > .slid4 + .slick-list > .slick-track > .slick-slide:not(.slick-current) {
  opacity: 0;
  -webkit-transition: ease 3s;
  -o-transition: ease 3s;
  transition: ease 3s; }

.block4__gallery > .slid4 + .slick-list > .slick-track > .slick-slide.slick-current {
  opacity: 1;
  -webkit-transition: ease 3s;
  -o-transition: ease 3s;
  transition: ease 3s; }

.slid4 .slick-arrow,
.slid4 .slick-arrow {
  position: absolute;
  cursor: pointer;
  color: #DBDDDF;
  bottom: -10px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 100000000000; }
  .slid4 .slick-arrow:hover, .slid4 .slick-arrow:focus,
  .slid4 .slick-arrow:hover,
  .slid4 .slick-arrow:focus {
    outline: none;
    background: transparent;
    color: #717678; }

.slid4 > .slick-arrow.slider2-next {
  right: 76px; }

.slid4 .slick-arrow.slider2-prev {
  right: 110px; }

.block4__gallery > .slid4 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
