.block3 {
  padding-bottom: 2px;
  position: relative;
  background-color: #f8f9fb; }
  .block3__imgSlide {
    max-width: 100%; }
  .block3__img {
    max-width: 100%; }
  .block3__plate {
    margin-right: 50px;
    width: 425px;
    height: 116px;
    background-color: white;
    padding: 0 34px; }
  .block3__desc {
    color: #575c5f;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; }
  @media screen and (max-width: 991px) {
    .block3 .block3 {
      padding-bottom: 40px; }
    .block3 .block3__plate {
      width: 100%;
      margin-left: 0;
      height: 75px; } }
  @media screen and (max-width: 575px) {
    .block3 .block3__container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .block3 .block3__plate {
      height: 76px;
      bottom: 40px;
      padding: 5px; }
    .block3 .block3__slider {
      padding: 5px; } }

.blockForSlide {
  width: 425px;
  height: 70px;
  background-color: #f8f9fb;
  padding: 23px;
  padding-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  margin-top: -185px;
  z-index: 333;
  position: relative; }

.slider1-next.slick-arrow {
  top: 77%;
  left: 89%;
  font-size: 19px;
  position: absolute;
  z-index: 555;
  color: #DBDDDF; }
  .slider1-next.slick-arrow:after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #575c5f;
    display: block;
    right: 30px;
    opacity: 0.2;
    position: absolute;
    bottom: -5px;
    cursor: none; }
  .slider1-next.slick-arrow:hover, .slider1-next.slick-arrow:focus {
    color: #717678; }

.slider1-prev.slick-arrow {
  top: 77%;
  left: 85%;
  font-size: 19px;
  position: absolute;
  z-index: 555;
  color: #DBDDDF; }
  .slider1-prev.slick-arrow:hover, .slider1-prev.slick-arrow:focus {
    color: #717678; }

@media screen and (max-width: 991px) {
  .block3 {
    padding-bottom: 40px; } }

@media screen and (max-width: 1199px) {
  .block3__gallery > .slider__dots {
    top: 450px; } }

@media screen and (max-width: 991px) {
  .block3__plate {
    margin: 0px;
    width: 100%; }
  .newblock {
    width: 100%; } }

@media screen and (max-width: 991px) {
  .slider1-next.slick-arrow {
    top: 50%;
    left: 91%;
    font-size: 80px; }
    .slider1-next.slick-arrow:after {
      display: none; }
  .slider1-prev.slick-arrow {
    top: 50%;
    left: 0;
    font-size: 80px; } }

@media screen and (max-width: 767px) {
  .slider1-next.slick-arrow {
    top: 50%;
    left: 90%;
    font-size: 50px; }
    .slider1-next.slick-arrow:after {
      display: none; }
  .slider1-prev.slick-arrow {
    top: 50%;
    left: 0;
    font-size: 50px; } }

.block3__gallery > .slick-list > .slick-track > .slick-slide:not(.slick-current) > img {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s; }

.block3__gallery > .slick-list > .slick-track > .slick-slide.slick-current > img {
  opacity: 1;
  -webkit-transition: ease 3s;
  -o-transition: ease 3s;
  transition: ease 3s; }

.block3__gallery > .slick-list > .slick-track > .slick-slide:not(.slick-current) > .newblock {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s; }

.block3__gallery > .slick-list > .slick-track > .slick-slide.slick-current > .newblock {
  opacity: 1;
  -webkit-transition: ease 3s;
  -o-transition: ease 3s;
  transition: ease 3s; }
