.copyright {
  margin-right: 3px; }
  .copyright__text {
    color: #a29c9b;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; }
  .copyright__icon {
    color: white;
    font-size: 25px; }
  .copyright__icon-form {
    margin-left: 20px;
    width: 44px;
    height: 44px;
    background-color: #b98b36; }
  .copyright__top {
    margin-top: -20px;
    cursor: pointer; }
