.nav__burger span {
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #BFBFBF;
  top: 50%;
  left: 50%; }

.nav__burger span:nth-child(1) {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.nav__burger span:nth-child(3) {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px); }

.nav__burger:hover {
  cursor: pointer; }

.nav__close {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 3rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: 50% 53%;
  -ms-transform-origin: 50% 53%;
  transform-origin: 50% 53%;
  display: block;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  color: #BFBFBF; }
  .nav__close:hover {
    color: rgba(185, 139, 54, 0.637);
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }

.nav__close:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.nav__burger span:hover {
  background-color: rgba(185, 139, 54, 0.637);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }
