.nav__checkbox--footer {
  display: none; }

.nav__icon--footer {
  color: transparent; }

.nav__item:first-child {
  margin-left: 12px; }

.nav__item {
  margin-right: 42px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__link {
  color: #a29c9b;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 12px;
  padding-top: 12px; }

.nav__link:hover {
  position: relative; }

.nav__link:hover:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #b98b36;
  bottom: 0;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s; }

.nav__link:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 2px;
  background-color: white;
  bottom: 0; }

.nav__link--footer:hover:before {
  content: '';
  display: none; }

.nav__link--footer:before {
  content: '';
  display: none; }

.nav__link:hover {
  color: #b98b36;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  -webkit-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  transition: ease 0.8s;
  position: relative; }

.nav__icon {
  color: #a29c9b;
  font-size: 25px; }

.nav__times {
  color: #a29c9b;
  font-size: 25px;
  z-index: 2;
  position: relative; }

.nav__checkbox {
  display: none; }

.nav__checkbox:checked + .nav__burger > .nav__times {
  display: block; }

.nav__checkbox + .nav__burger > .nav__times {
  display: none; }

.nav__checkbox + .nav__burger > .nav__icon {
  display: block; }

.nav__checkbox:checked + .nav__burger > .nav__icon {
  display: none; }

@media screen and (max-width: 991px) {
  .nav .nav__list {
    overflow: hidden;
    z-index: 1;
    padding-top: 0;
    height: 0;
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
    background-color: white;
    border: 0.4px solid #262626;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none; }
  .nav__checkbox:checked + .nav__burger + .nav__list {
    display: block;
    padding-top: 145px;
    height: 397px; }
  .nav .nav__item {
    margin: 0;
    border: 0.4px solid #a29c9b; }
  .nav .nav__link {
    color: #B38124;
    line-height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.header__logo {
  position: relative;
  z-index: 2; }
