.nav__checkbox--footer {
  display: none; }

.nav__icon--footer {
  color: transparent; }

.nav__item:first-child {
  margin-left: 12px; }

.nav__item {
  margin-right: 42px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__link {
  color: #a29c9b;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 12px;
  padding-top: 12px; }

.nav__link:hover {
  position: relative; }

.nav__link:hover:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #b98b36;
  bottom: 0;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s; }

.nav__link:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 2px;
  background-color: white;
  bottom: 0; }

.nav__link--footer:hover:before {
  content: '';
  display: none; }

.nav__link--footer:before {
  content: '';
  display: none; }

.nav__link:hover {
  color: #b98b36;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  -webkit-transition: ease 0.8s;
  -o-transition: ease 0.8s;
  transition: ease 0.8s;
  position: relative; }

.nav__icon {
  color: #a29c9b;
  font-size: 25px; }

.nav__times {
  color: #a29c9b;
  font-size: 25px;
  z-index: 2;
  position: relative; }

@media screen and (max-width: 991px) {
  .nav__list {
    display: none; } }

.header__logo {
  position: relative;
  z-index: 2; }

.nav__close {
  position: absolute;
  z-index: 20000;
  right: 27px;
  top: 4px; }

.nav__barlist {
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
  background-color: white;
  border: 0.4px solid #262626;
  width: 100%;
  border: none;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav__barlist--active {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    top: 30px;
    -webkit-transition: ease .7s;
    -o-transition: ease .7s;
    transition: ease .7s; }

.nav__baritem {
  margin: 0; }

.nav__barlink {
  line-height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #A29C9B;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
  font-size: 25px; }
  .nav__barlink:hover {
    color: #B38124; }

@media screen and (max-width: 767px) {
  .nav__burger {
    position: absolute;
    right: 27px;
    top: 36px; } }
