.time {
  margin-right: 59px; }
  .time__icon {
    width: 34px;
    height: 34px;
    background-color: #b98b36;
    -webkit-box-shadow: 0 6px 21px rgba(185, 139, 54, 0.41);
    box-shadow: 0 6px 21px rgba(185, 139, 54, 0.41); }
  .time__title {
    color: #a29c9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }
  .time__text {
    color: #575c5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }
    .time__text--su {
      margin-left: 12px; }
  .time__far {
    color: white; }
  .time__schedule {
    margin-left: 20px;
    margin-top: -4px; }

@media screen and (max-width: 767px) {
  .time {
    margin-bottom: 10px;
    margin-right: 70px; } }
