body {
    /* background-image: url(../img/bg.png);
    background-position: top;*/
    font-family: 'PT Sans', sans-serif;
    background-color: white;
}

.container {
    max-width: 1170px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    outline: 0 none !important;
}

button,
button:visited,
button:focus,
button:active,
button:hover {
    outline: 0 none !important;
}


i {
    cursor: pointer;
}

.map {
    height: 417px;

    @media screen and (max-width: 991px) {
        & {
            height: 353px;
        }
    }

    @media screen and (max-width: 575px) {
        & {
            height: 250px;
        }
    }

}