body {
    /* background-image: url(../img/bg.png);
    background-position: top;*/
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1170px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    outline: 0 none !important;
}

button,
button:visited,
button:focus,
button:active,
button:hover {
    outline: 0 none !important;
}